<h2>Bookmarks</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> <a href=<%= bookmark['url'] %>><%= bookmark['title'] %> </a> </li>
  <% end%>
</ul>
 <a href="http://localhost:9292/bookmarks/new"><input type=button value='add a new bookmark here'></a>
