
<form action="/bookmarks" method="post">
  Web address <input type="text" name="url" />
  Title <input type="text" name="title" />
  <input type="submit" value="Submit" />
</form>

<a href="http://localhost:9292/bookmarks"><input type=button value='return without saving?'></a>
